body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    margin: 20px;
}

header img{
    width: 15%;
}

.carousel-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    z-index: 1;
    width: 60%;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 2;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

footer{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.mapaInteractivo{
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
    border-radius: 20px;
    font-size: 25px;
}
  